# Auto detect text files and perform LF normalization
* text=auto
C:/Users/killt/Documents/Unreal[[:space:]]Projects/VisceraCleanupDetail/Content/IndustrialArea/Textures/T_Old_Concrete_N.uasset filter=lfs diff=lfs merge=lfs -text
